{
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2022
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".ts"]
            }
        }
    },
    "parser": "@typescript-eslint/parser",
    "env": {
        "node": true
    },
    "plugins": ["@typescript-eslint", "unused-imports", "import"],
    "extends": [
        "eslint:recommended",
        "plugin:json/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:cypress/recommended",
        "plugin:import/typescript",
        "airbnb",
        "prettier"
    ],
    "rules": {
        "unused-imports/no-unused-imports": "error",
        "import/extensions": "off",
        "consistent-return": "off",
        "no-shadow": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "no-unused-vars": "off",
        "@typescript-eslint/no-empty-function": "off",
        "cypress/no-unnecessary-waiting": "off",
        "import/prefer-default-export": "off",
        "no-use-before-define": "off",
        "no-param-reassign": "off",
        "no-await-in-loop": "off",
        "camelcase": "off",
        "@typescript-eslint/no-namespace": "off",
        "no-undef": "off",
        "import/no-absolute-path": "off",
        "@typescript-eslint/no-explicit-any": "off"
    }
}
