{
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2022
    },
    "settings": {
        "import/resolver": {
            "typescript": true,
            "node": true
        }
    },
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:json/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/typescript",
        "plugin:cypress/recommended",
        "airbnb",
        "prettier"
    ],
    "rules": {}
}
